:root {
  --background-color: #ffffff;
  --secondary-bcg-color-grey01: #f8f9fa;

  --main-text-color-grey07: #495057;
  --inactive-text-color-grey04: #ced4da;
  --input-placeholder-color-grey05: #adb5bd;

  --accent-color: #0d6efd;
  --accent-secondary-color: #cfe2ff;
  --success-color: #198754;
  --danger-color: #dc3545;
  --warning-color: #ffc107;
  --info-color: #0dcaf0;

  --grey-02: #e9ecef;

  --hover-btn-color: #0a58ca;
  --focus-btn-color: #9ec5fe;
  --active-btn-color: #052c65;
}
