.select {
  min-width: 161px;
  outline: 1px solid var(--grey-02);
  font-size: 12px;
  line-height: 1.2;
  position: relative;
  background-color: var(--secondary-bcg-color-grey01);

  &.is-active .select__body {
    display: block;
  }

  &:hover,
  &:active {
    outline: 1px solid var(--hover-btn-color);
    box-shadow: none;
  }

  &:focus {
    outline: 1px solid var(--focus-btn-color);
    box-shadow: none;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  &-arrow__icon {
    flex-shrink: 0;
    margin-right: 8px;
  }

  &__current {
    padding: 9px;
  }

  &__body {
    display: none;
    background-color: var(--secondary-bcg-color-grey01);
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    outline: 1px solid var(--grey-02);
  }

  &__item {
    display: flex;
    justify-content: space-between;
    cursor: pointer;

    &:hover {
      color: var(--hover-btn-color);
    }
  }

  &__text {
    flex-grow: 1;
    padding: 9px;
    overflow: hidden;
  }

  .delete-button {
    padding-left: 10px;
    padding-right: 10px;
    background-color: inherit;
    border: none;
  }
}
