.login-container {
  height: 100vh;

  .big-logo {
    margin-bottom: 90px;
  }

  .form-control {
    width: 280px;
  }

  .login-input {
    margin-bottom: 30px;
  }

  .password-input {
    margin-bottom: 76px;
  }
}
