.source-manual-price {
  width: 71px;
  height: 23px;
  font-size: 12px;
}

.source-added-input {
  padding: 4px 6px;
  text-align: center;
  width: 32px;
  height: 23px;

  &::placeholder {
    font-size: 12px;
    color: var(--input-placeholder-color-grey05);
  }
}

.source-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr;
  align-items: center;
  grid-gap: 16px 30px;

  .form-select {
    width: 161px;
  }
}

.table-title {
  min-width: 135px;
}
